[submodule "libraries/mvp-player"]
	path = libraries/mvp-player
	url = https://github.com/edubois/mvp-player.git
[submodule "tools/sconsProject"]
	path = tools/sconsProject
	url = https://github.com/edubois/sconsProject.git
[submodule "libraries/sequenceparser"]
	path = libraries/sequenceparser
	url = https://github.com/mikrosimage/sequenceparser.git
